{% extends "cbar_db/template.html" %}
{% block body %}
    <h1>Administration</h1>
    <h2>Forms</h2>
    <ul>
        <li>
            <a href="{% url 'index-private-forms' %}">
                Evaluation, Planning, &amp; Incident Forms
            </a>
        </li>
        <li>
            <a href="{% url 'private-form-define-a-class' %}">
                Define a Class
            </a>
        </li>
        <li>
            <a href="{% url 'report-select-class' %}">
                Class Records
            </a>
        </li>
        <li>
            <a href="{% url 'report-select-participant' %}">
                Participant Records
            </a>
        </li>
    </ul>

    <h2>User Accounts</h2>
    <ul>
        <li>
            <a href="{% url 'private-form-create-user' %}">
                Create New User
            </a>
        </li>
        <li>
            <a href="{% url 'report-select-user' %}">
                User Accounts
            </a>
        </li>
    </ul>
{% endblock %}
