{% extends "cbar_db/template.html" %}
{% block body %}
<p>
    <h1> Donation page </h1>
</p>
{% if error_text %}
    <p><strong>
        {{ error_text }}
    </strong></p>
{% endif % }
<form action"{% url 'Donation' %}" method="post">
    {% csrf_token %}
    <p>
        What would you like to donate too? {{ form.donation_choices }}
        <span class="error_message">
            {{ form.name.error.as_text }}
        </span>
    </p>
    <p>
        Adopt a Horse: {{ form.donation_adopt_horse }}
        <span class="error_message">
            {{ form.name.errors.as_text }}
        </span>
    </p>
    <p>
        Adopt a Participant: {{ form.donation_adopt_participant }}
        <span class="error_message">
            {{ form.name.errors.as_text }}
        </span>
    </p>
    <p>
        Flat Money Donation: {{ form.donation_monetary }}
        <span class="error_message">
            {{form.name.errors.as_text }}
        </span>

{% endblock %}
