{% extends "cbar_db/template.html" %}
{% block body %}
    <div class="content_container">
        <h1>C-Bar Information Database</h1>
        <div class="nav">
            <a class="button" href="">Link</a>
            <a class="button" href="">Link</a>
            <a class="button" href="">Link</a>
            <a class="button" href="">Link</a>
        </div>
    </div>

    <div class="content_container">
        <p>
            Welcome to the C-Bar Therapeutic Horsemanship Information Database. Please click a link above to continue.
        </p>
    </div>
{% endblock %}
