{% extends "cbar_db/template.html" %}
{% block body %}
    <h1>Monetary Donation</h1>
    {% if error_text %}
        <p><strong>
            {{ error_text }}
        </strong></p>
    {% endif %}
    <form action="{% url 'donation-monetary' %}" method="post">
        {% csrf_token %}
        <div>
        <p>
            Amount you are donating: ${{ form.amount }}
            <span class="error_message">
                {{ form.amount.errors.as_text }}
            </span>
        </p>
        <p>
            Your Name: {{ form.name }}
            <span class="error_message">
                {{ form.name.errors.as_text }}
            </span>
        </p>
        <p>
            Your Email address: {{ form.email }}
            <span class="error_message">
                {{ form.email.errors.as_text }}
            </span>
        </p>
        <p>
            Designate donation for: {{ form.purpose }}
            <span class="error_message">
                {{ form.purpose.errors.as_text }}
            </span>
            <br />
            (leave blank to not designate the donation for a specific purpose)
        </p>
        </div>
        <div id="SubmitButton">
            <input type="Submit" value="Submit">
        </div>
    </form>
{% endblock %}
