{% extends "cbar_db/template.html" %}
{% block body %}
    <h1>Adopt a Participant</h1>
    {% if error_text %}
        <p><strong>
            {{ error_text }}
        </strong></p>
    {% endif %}
    <form action="{% url 'donation-participant' %}" method="post">
        {% csrf_token %}
        <div>
        <p>
            Amount you are donating: ${{  form.amount }}
            <span class="error_message">
                {{ form.donation_type.error.as_text }}
            </span>
        </p>
        <p>
            Your Name: {{ form.donor_name }}
            <span class="error_message">
                {{ form.donor_name.error.as_text }}
            </span>
        </p>
        <p>
            Your Email address:{{ form.donor_email }}
            <span class="error_message">
                {{ form.donor_email.error.as_text }}
            </span>

        </div>
        <div id="SubmitButton">
            <input type="Submit" value="Submit">
        </div>
    </form>
{% endblock %}
