{% extends "cbar_db/template.html" %}
{% block body %}
    <h1>Application</h1>
    {% if error_text %}
        <p></strong>
            {{ error_text }}
        </p></strong>
    {% endif %}
    <form action="{% url 'public_form_application %'}" method="post">
        {% csrf_token %}
        <p>
            Name: {{ form.name }}
            <span class="error_message">
                {{ form.name.errors.as_text }}
            </span>
            Date of Birth: {{ form.birth_date }}
            <span class="error_message">
                {{ form.birth_date.errors.as_text }}
            </span>
            <br />
            Height: {{ form.height }}
            <span class="error_message">
                {{ form.height.errors.as_text }}
            </span>
            Weight: {{ form.weight }}
            <span class="error_message">
                {{ form.weight.errors.as_text }}
            </span>
            <br />
            Gender: {{ form.gender }}
            <span class="error_message">
                {{ form.gender.errors.as_text }}
            </span>
            Minor Status: {{ form.minor_status }}
            <span class="error_message">
                {{ form.minor_status.errors.as_text }}
            </span>
            <br />
            School or Institution presently attending:
            {{ form.school_institution }}
            <span class="error_message">
                {{ form.school_institution.errors.as_text }}
            </span>
            <br />
            If minor or adult with legal guardian, parent or legal guardian
            name(s): {{ form.guardian_name }}
            <span class="error_message">
                {{ form.guardian_name.errors.as_text }}
            </span>
            <br />
            Street Address: {{ form.address_street }}
            <span class="error_message">
                {{ form.address_street.errors.as_text }}
            </span>
            <br />
            City: {{ form.address_city }}
            <span class="error_message">
                {{ form.address_city.errors.as_text }}
            </span>
            Zip Code: {{ form.address_zip }}
            <span class="error_message">
                {{ form.address_zip.errors.as_text }}
            </span>
            <br />
            Home Phone: {{ form.phone_home }}
            <span class="error_message">
                {{ form.phone_home.errors.as_text }}
            </span>
            Cell/Work Phone: {{ form.phone_cell_work }}
            <span class="error_message">
                {{ form.phone_cell_work.errors.as_text }}
            </span>
            <br />
            E-Mail Address: {{ form.email }}
            <span class="error_message">
                {{ form.email.errors.as_text }}
            </span>
            <br />
            Signature: {{ form.signature }}
            <span class="error_message">
                {{ form.signature.errors.as_text }}
            </span>
            Date: {{ form.date }}
            <span class="error_message">
                {{ form.date.errors.as_text }}
            </span>
        </p>
        <input type="Submit" value="Submit" />
    </form>
{% endblock %}
