{% extends "cbar_db/template.html" %}
{% block body %}
{% block header %}
<style>
  #id_height_feet, #id_height_inches {
    width: 3em;
  }
</style>
{% endblock %}
    <h1>Application</h1>
    {% if error_text %}
        <p></strong>
            {{ error_text }}
        </p></strong>
    {% endif %}
    <form action="{% url 'public-form-application' %}" method="post">
        {% csrf_token %}
        <p>
            Fields with an <span style="color: red">*</span> next to them are
             required.
        </p>
        <p>
            <span style="color: red">*</span> Position applying for:
            {{ form.participant_type_participant }} Participant
            {{ form.participant_type_volunteer }} Volunteer
            {{ form.participant_type_staff }} Staff
        </p>
        <p>
            <span style="color: red">*</span> Name: {{ form.name }}
            <span class="error_message">
                {{ form.name.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> Date of Birth: {{ form.birth_date }}
            <span class="error_message">
                {{ form.birth_date.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> Height: {{ form.height_feet }} ft
            <span class="error_message">
                {{ form.height_feet.errors.as_text }}
            </span>
            {{ form.height_inches }}
            <span class="error_message">
                {{ form.height_inches.errors.as_text }}
            </span> inches
        </p>
        <p>
            <span style="color: red">*</span> Weight: {{ form.weight }} lbs
            <span class="error_message">
                {{ form.weight.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> Gender: {{ form.gender }}
            <span class="error_message">
                {{ form.gender.errors.as_text }}
            </span>
            <span style="color: red">*</span> Minor Status: {{ form.minor_status }}
            <span class="error_message">
                {{ form.minor_status.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> School or Institution presently attending:
            {{ form.school_institution }}
            <span class="error_message">
                {{ form.school_institution.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> If minor or adult with legal guardian, parent or legal guardian
            name(s): <p>{{ form.guardian_name }}
            <span class="error_message">
                {{ form.guardian_name.errors.as_text }}
            </span></p>
        </p>
        <p>
            <span style="color: red">*</span> Street Address:  {{ form.address_street }}
            <span class="error_message">
                {{ form.address_street.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> City: {{ form.address_city }}
            <span class="error_message">
                {{ form.address_city.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> State: {{ form.address_state }}
            <span class="error_message">
                {{ form.address_state.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> Zip Code: {{ form.address_zip }}
            <span class="error_message">
                {{ form.address_zip.errors.as_text }}
            </span>
        </p>
        <span style="color: red">*</span> Please enter at least one phone number
        <p>
            Home Phone: {{ form.phone_home }}
            <span class="error_message">
                {{ form.phone_home.errors.as_text }}
            </span>
        </p>
        <p>
            Cell Phone: {{ form.phone_cell }}
            <span class="error_message">
                {{ form.phone_cell.errors.as_text }}
            </span>
        </p>
        <p>
            Work Phone: {{ form.phone_work }}
            <span class="error_message">
                {{ form.phone_work.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> E-Mail Address: {{ form.email }}
            <span class="error_message">
                {{ form.email.errors.as_text }}
            </span>
        </p>
        <input type="Submit" value="Submit" />
    </form>
{% endblock %}
