{% extends "cbar_db/template.html" %}
{% block body %}
    <h1> Authorization for Emergency Medical Treatment </h1>
    {% if error_text %}
        <p><strong>
            {{ error_text }}
        </strong></p>
    {% endif %}
    <form action="{% url 'public-form-emerg-auth' %}" method="post">
        {% csrf_token %}
        <p>
            Fields with an <span style="color: red">*</span> next to them are
             required.
        </p>
        <p>
            <span style="color: red">*</span> Name: {{ form.name }}
            <span class="error_message">
                {{ form.name.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> Date of Birth: {{ form.birth_date }}
            <span class="error_message">
                {{ form.birth_date.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> Primary Physician: {{ form.primary_physician_name }}
            <span class="error_message">
                {{ form.primary_physician_name.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> Physician Phone: {{ form.primary_physician_phone }}
            <span class="error_message">
                {{ form.primary_physician_phone.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span>  Prefered Medical Facility: {{ form.pref_medical_facility }}
            <span class="error_message">
                {{ form.pref_medical_facility.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span>  Insurance Provider: {{ form.insurance_provider }}
            <span class="error_message">
                {{ form.insurance_provider.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span>  Insurance Policy Number: {{ form.insurance_policy_num }}
            <span class="error_message">
                {{ form.insurance_policy_num.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> Emergency Contact: {{ form.emerg_contact_name }}
            <span class="error_message">
                {{ form.emerg_contact_name.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> Emergency Contact Phone: {{ form.emerg_contact_phone }}
            <span class="error_message">
                {{ form.emerg_contact_phone.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span> Relation to Participant: {{ form.emerg_contact_relation }}
            <span class="error_message">
                {{ form.emerg_contact_relation.errors.as_text }}
            </span>
        </p>
        <p>
            If medical care is required in conjunction with any C-Bar activity
             and normal permission is not available in a timely manner, the
             undersigned authorizes C-Bar to secure and retain appropriate
             medical care and transportation, if needed. This authorization
             includes releasing medical information on this form to emergency
             medical personnel, a physician, or the medical facility providing
             the treatment and may include x-rays, surgery, hospitalization,
             medication, and any treatment deemed “lifesaving” by the physician.
             This provision will only be invoked if the person(s) listed above
             cannot be reached.
        </p>
        <p>
            I, <span style="color: red">*</span>  {{ form.consents_emerg_med_treatment }}, <span style="color: red">*</span>  Date: {{ form.date }}
            <span class="error_message">
                {{ form.date.errors.as_text }}
            </span>
        </p>
        <p>
            <span style="color: red">*</span>  Signature: {{ form.signature }}
            <span class="error_message">
                {{ form.signature.errors.as_text }}
            </span>
        </p>
        <input type="Submit" value="Submit" />
    </form>
{% endblock %}
