{% extends "cbar_db/template.html" %}
{% block body %}
    <h1>Photo &amp; Media Release</h1>
    {% if error_text %}
        <p><strong>
            {{ error_text }}
        </strong></p>
    {% endif %}
    <form action="{% url 'public-form-media' %}" method="post">
        {% csrf_token %}
        <p>
            Fields with an <span style="color: red">*</span> next to them are
             required.
        </p>
        <p>
            Authorization is given to C-Bar Therapeutic Riding to use and/or
             reproduce any and all photographs and/or any other audio/visual
             materials taken of visitors, volunteers, participants, or staff
             for promotional material, educational activities, and exhibitions
             or for any other use for the benefit of the program.
        </p>
        <p>
            I,<span style="color: red">*</span> {{ form.name }}
            <span class="error_message">
                {{ form.name.errors.as_text }}
            </span>

            , born <span style="color: red">*</span> {{ form.birth_date }}
            <span class="error_message">
                {{ form.birth_date.errors.as_text }}
            </span>

            ,{{ form.consent }}
            <span class="error_message">
                {{ form.consent.errors.as_text }}
            </span> to the above.
        </p>
        <p>
            <span style="color: red">*</span> Signature: {{ form.signature }}.
            <span class="error_message">
                {{ form.signature.errors.as_text }}
            </span>

             <span style="color: red">*</span> Date: {{ form.date }}
            <span class="error_message">
                {{ form.date.errors.as_text }}
            </span>
        </p>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
