{% extends "cbar_db/template.html" %}
{% block body %}
    <h1>Create New User</h1>
    {% if error_text %}
        <p><strong>
            {{ error_text }}
        </strong></p>
    {% endif %}
    <form action="{% url 'private_form_create_user' %}" method="post">
        {% csrf_token %}
        <p>
            Fields with an <span style="color: red">*</span> next to them are
             required.
        </p>

        <p>
            Create username: {{ form.username }}
        </p>
        <p>
            Create password: {{ form.password }}
        </p>
        <p>
            User's email: {{ form.email }}
        </p>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>
{% endblock %}
