{% extends "cbar_db/template.html" %}
{% block body %}
    <h1>Seizure Evaluation Incident</h1>
    {% if error_text %}
        <p><strong>
            {{ error_text }}
        </strong></p>
    {% endif %}
    {% if participant %}
        <form action="{% url 'private-form-incidents' participant.participant_id %}" method="post">
            {% csrf_token %}
            <p>
                Participant: {{ participant.name }}<br />
                Birth Date: {{ participant.birth_date }}<br />
            </p>

            <p>
                <strong>Date:</strong> {{ form.date }}
                <span class="error_message">
                    {{ form.date.errors.as_text }}
                </span>

                <strong>Time:</strong> {{ form.time }}
                <span class="error_message">
                    {{ form.time.errors.as_text }}
                </span>
            </p>
            <p>
                <strong>Details:</strong><br />
                {{ form.details }}
                <span class="error_message">
                    {{ form.details.errors.as_text }}
                </strong>
            </p>

            <p>
                <input type="submit" value="Submit" />
            </p>
        </form>
    {% endif %}
{% endblock %}
