{% extends "cbar_db/template.html" %}
{% block body %}
    <h1> Donation page </h1>
    {% if error_text %}
        <p><strong>
            {{ error_text }}
        </strong></p>
    {% endif %}
    <form action="{% url 'public-form-donation' %}" method="post">
        {% csrf_token %}
        <div id="DonationChoices">
        <p>
            What would you like to donate too? {{ form.donation_type }}
            <span class="error_message">
                {{ form.donation_type.error.as_text }}
            </span>
        </p>
        <p>
            Adopt a Horse: {{ form.amount }}
            <span class="error_message">
                {{ form.donation_type.error.as_text }}
            </span>
        </p>
        <p>
            Adopt a Participant: {{  form.amount }}
            <span class="error_message">
                {{ form.donation_type.error.as_text }}
            </span>
        </p>
        <p>
            Flat Money Donation: {{ form.amount }}
            <span class="error_message">
                {{ form.donation_type.error.as_text }}
            </span>
        </p>
    </div>
{% endblock %}
